Repository blkbrds/intern15-practice, pull requests merged in 2019-10, with the labels that each got.

#12 PhuocN - Bai Tap04 - View
  04_View/PhuocN/Baitap04/BaitapView/BaitapView.xcodeproj/project.pbxproj
  04_View/PhuocN/Baitap04/BaitapView/BaitapView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/PhuocN/Baitap04/BaitapView/BaitapView.xcodeproj/project.xcworkspace/xcuserdata/phuocnguyen.xcuserdatad/UserInterfaceState.xcuserstate
  04_View/PhuocN/Baitap04/BaitapView/BaitapView.xcodeproj/xcuserdata/phuocnguyen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  04_View/PhuocN/Baitap04/BaitapView/BaitapView.xcodeproj/xcuserdata/phuocnguyen.xcuserdatad/xcschemes/xcschememanagement.plist
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/AppDelegate.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Assets.xcassets/Contents.json
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Bai6+7_Monkey/MonkeyViewController.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Bai6+7_Monkey/MonkeyViewController.xib
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap1+2_AvatarView/AvatarViewController.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap1+2_AvatarView/AvatarViewController.xib
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap3_Login/LoginViewController.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap3_Login/LoginViewController.xib
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap4_ColorSlider/ColorViewController.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap4_ColorSlider/ColorViewController.xib
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap5_CustomSlider/SliderViewController.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Baitap5_CustomSlider/SliderViewController.xib
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Base.lproj/LaunchScreen.storyboard
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Base.lproj/Main.storyboard
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/Captain.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/DefaultAvatar.png
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/Monkey.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/bat_man.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/black_panter.jpeg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/hulk.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/icons8-send-comment-50.png
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/iron_man.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/super_man.jpeg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/thanos.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/thor.jpeg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Image/wonder_woman.jpg
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/Info.plist
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/SceneDelegate.swift
  04_View/PhuocN/Baitap04/BaitapView/BaitapView/ViewController.swift
Labels: View

#19 Phuoc Nguyen - Baitap06: Drawing
  06_Drawing/PhuocN/Drawing/Drawing.xcodeproj/project.pbxproj
  06_Drawing/PhuocN/Drawing/Drawing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/PhuocN/Drawing/Drawing.xcodeproj/xcuserdata/phuocnguyen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  06_Drawing/PhuocN/Drawing/Drawing.xcodeproj/xcuserdata/phuocnguyen.xcuserdatad/xcschemes/xcschememanagement.plist
  06_Drawing/PhuocN/Drawing/Drawing/AppDelegate.swift
  06_Drawing/PhuocN/Drawing/Drawing/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/PhuocN/Drawing/Drawing/Assets.xcassets/Contents.json
  06_Drawing/PhuocN/Drawing/Drawing/Base.lproj/LaunchScreen.storyboard
  06_Drawing/PhuocN/Drawing/Drawing/Base.lproj/Main.storyboard
  06_Drawing/PhuocN/Drawing/Drawing/ColumnChartView.swift
  06_Drawing/PhuocN/Drawing/Drawing/Info.plist
  06_Drawing/PhuocN/Drawing/Drawing/LineChartView.swift
  06_Drawing/PhuocN/Drawing/Drawing/PieChartView.swift
  06_Drawing/PhuocN/Drawing/Drawing/SceneDelegate.swift
  06_Drawing/PhuocN/Drawing/Drawing/ViewController.swift
Labels: Drawing

#16 Phuoc Nguyen-baitap05-CustomView
  05_CustomView/PhuocN/CustomView/CustomView.xcodeproj/project.pbxproj
  05_CustomView/PhuocN/CustomView/CustomView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/PhuocN/CustomView/CustomView.xcodeproj/project.xcworkspace/xcuserdata/phuocnguyen.xcuserdatad/UserInterfaceState.xcuserstate
  05_CustomView/PhuocN/CustomView/CustomView.xcodeproj/xcuserdata/phuocnguyen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  05_CustomView/PhuocN/CustomView/CustomView.xcodeproj/xcuserdata/phuocnguyen.xcuserdatad/xcschemes/xcschememanagement.plist
  05_CustomView/PhuocN/CustomView/CustomView/AppDelegate.swift
  05_CustomView/PhuocN/CustomView/CustomView/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/PhuocN/CustomView/CustomView/Assets.xcassets/Contents.json
  05_CustomView/PhuocN/CustomView/CustomView/BaiTap02_Slider/SliderView.swift
  05_CustomView/PhuocN/CustomView/CustomView/BaiTap02_Slider/SliderViewController.swift
  05_CustomView/PhuocN/CustomView/CustomView/BaiTap02_Slider/SliderViewController.xib
  05_CustomView/PhuocN/CustomView/CustomView/BaiTap03_BadgeNumber/BadgeNumberViewController.swift
  05_CustomView/PhuocN/CustomView/CustomView/BaiTap03_BadgeNumber/BagdeNumberButton.swift
  05_CustomView/PhuocN/CustomView/CustomView/Baitap01_AvatarView/AvatarView.swift
  05_CustomView/PhuocN/CustomView/CustomView/Baitap01_AvatarView/AvatarViewController.swift
  05_CustomView/PhuocN/CustomView/CustomView/Baitap01_AvatarView/AvatarViewController.xib
  05_CustomView/PhuocN/CustomView/CustomView/Baitap04_DatePickerView/DatePickerView.swift
  05_CustomView/PhuocN/CustomView/CustomView/Baitap04_DatePickerView/DatePickerView.xib
  05_CustomView/PhuocN/CustomView/CustomView/Baitap04_DatePickerView/DatePickerViewController.swift
  05_CustomView/PhuocN/CustomView/CustomView/Baitap04_DatePickerView/DatePickerViewController.xib
  05_CustomView/PhuocN/CustomView/CustomView/Base.lproj/LaunchScreen.storyboard
  05_CustomView/PhuocN/CustomView/CustomView/Base.lproj/Main.storyboard
  05_CustomView/PhuocN/CustomView/CustomView/Info.plist
  05_CustomView/PhuocN/CustomView/CustomView/SceneDelegate.swift
Labels: Custom View

#25 ThongNguyen - Exercise 05 - CustomView
  04_View/ThongNT/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.pbxproj
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/WorkspaceSettings.xcsettings
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/xcuserdata/pci0018.xcuserdatad/xcschemes/xcschememanagement.plist
  05_CustomView/ThongNT/BaiTapCustomView/AppDelegate/AppDelegate.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex1/Ex1ViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex1/MyAvatarView.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex2/Ex1ViewController.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex2/Ex2ViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex2/Ex2ViewController.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex2/MySliderView.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex2/MySliderView.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/BadgeNumberView.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/BadgeNumberView.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/Ex3ViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/Ex3ViewController.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/DatePickerView.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/DatePickerView.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/Ex4ViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/Ex4ViewController.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Home/HomeViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Home/HomeViewController.xib
  05_CustomView/ThongNT/BaiTapCustomView/Core/BaseNavigationController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Core/BaseViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Info.plist
  05_CustomView/ThongNT/BaiTapCustomView/Models/DataManagement/DataManagement.swift
  05_CustomView/ThongNT/BaiTapCustomView/Models/Objects/Exercise.swift
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/Avatar.png.imageset/Contents.json
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/Avatar.png.imageset/d3dwein-909409a0-dc79-421f-9bd8-4c9103419a21.png
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/Contents.json
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/bg_img.imageset/Contents.json
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/bg_img.imageset/icons8-triangle-80 (1).png
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/color_img.imageset/Contents.json
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/color_img.imageset/icons8-triangle-80.png
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/ic_img_file_icon.imageset/Contents.json
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-48.png
  05_CustomView/ThongNT/BaiTapCustomView/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-96.png
  05_CustomView/ThongNT/BaiTapCustomView/Resources/exercises.plist
  05_CustomView/ThongNT/BaiTapCustomView/Views/Cells/HomeCell/HomeCell.swift
  05_CustomView/ThongNT/BaiTapCustomView/Views/Cells/HomeCell/HomeCell.xib
  05_CustomView/ThongNT/Default-568h@2x.png
Labels: Custom View

#32 Thong Nguyen T. - Exercise 6 - Drawing
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.pbxproj
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing.xcodeproj/xcuserdata/pci0018.xcuserdatad/xcschemes/xcschememanagement.plist
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/AppDelegate.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/Assets.xcassets/Contents.json
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/ColumnChartView.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/Info.plist
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/MyViewController.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/MyViewController.xib
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/PieChartView.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/SceneDelegate.swift
Labels: Drawing

#29 Phuoc Nguyen - Exercise 11 - TableView
  11_TableView/PhuocN/TableView1/TableView/TableView.xcodeproj/project.pbxproj
  11_TableView/PhuocN/TableView1/TableView/TableView/Base.lproj/Main.storyboard
  11_TableView/PhuocN/TableView1/TableView/TableView/Controller/Home/HomeViewController.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Controller/Home/HomeViewController.xib
  11_TableView/PhuocN/TableView1/TableView/TableView/Controller/Profile/ProfileViewController.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Controller/Profile/ProfileViewController.xib
  11_TableView/PhuocN/TableView1/TableView/TableView/Models/DataManagement/DataManagement.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Models/Objects/Contact.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Models/Objects/User.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Resource/Assets.xcassets/ic-default-avatar.imageset/Contents.json
  11_TableView/PhuocN/TableView1/TableView/TableView/Resource/Assets.xcassets/ic-default-avatar.imageset/DefaultAvatar.png
  11_TableView/PhuocN/TableView1/TableView/TableView/Resource/contacts.plist
  11_TableView/PhuocN/TableView1/TableView/TableView/Resource/users.plist
  11_TableView/PhuocN/TableView1/TableView/TableView/ViewController.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Views/ContactCell/ContactTableViewCell.swift
  11_TableView/PhuocN/TableView1/TableView/TableView/Views/ContactCell/ContactTableViewCell.xib
Labels: TableView

#31 Thong Nguyen T. - Exercise 5 - CustomView
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.pbxproj
  05_CustomView/ThongNT/BaiTapCustomView.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/BadgeNumberView.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/BadgeNumberView.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/Ex3ViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex3/Ex3ViewController.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/DatePickerView.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/DatePickerView.xib
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/Ex4ViewController.swift
  05_CustomView/ThongNT/BaiTapCustomView/Controllers/Ex4/Ex4ViewController.xib
Labels: Custom View

#33 Thong Nguyen T. - Exercise 6 - Drawing
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/ColumnChartView.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/MyViewController.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/PieChartView.swift
  06_Drawing/ThongNT/BaiTapDrawing/BaiTapDrawing/SceneDelegate.swift
Labels: Drawing

#42 Thong Nguyen T. - Exercise 8 - MVC
  07_Autolayout/ThongNT/PracticeTemplate/BaiTapAutoLayout.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC.xcodeproj/project.pbxproj
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC.xcodeproj/project.xcworkspace/xcuserdata/pci0018.xcuserdatad/UserInterfaceState.xcuserstate
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC.xcodeproj/xcuserdata/pci0018.xcuserdatad/xcschemes/xcschememanagement.plist
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/AppDelegate.swift
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Assets.xcassets/AppIcon.appiconset/Contents.json
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Assets.xcassets/Contents.json
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Controllers/CalculatorViewController.swift
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Controllers/CalculatorViewController.xib
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Info.plist
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Models/Calculate.swift
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Models/Results.swift
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/SceneDelegate.swift
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Views/AdvantedCalView.swift
  08_MVC/ThongNT/BaiTapMVC/BaiTapMVC/Views/AdvantedCalView.xib
Labels: MVC
